
[Unit]
Description=Backend service for accesscontrol

[Service]
Type=simple
ExecStart=/usr/local/bin/backend.sh
User=$USER
Restart=on-failure

[Install]
WantedBy=multi-user.target
