
[Unit]
Description=RFID reader service for entrance gate

[Service]
Type=simple
ExecStart=/usr/local/bin/rfidentrance.sh
User=shivkant
Restart=on-failure

[Install]
WantedBy=multi-user.target
