
[Unit]
Description=RFID reader service for exit gate

[Service]
Type=simple
ExecStart=/usr/local/bin/rfidexit.sh
User=$USER
Restart=on-failure

[Install]
WantedBy=multi-user.target
